<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Foodies.com</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Crimson+Text&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 1000px)" href="css/phone.css">
    <!-- font-family: 'ABeeZee', sans-serif;
    font-family: 'Crimson Text', serif; -->
</head>
<body>
    <nav id="navbar">
        <div id="logo">
            <img src="images/Logo.png" alt="Foodies.com">
        </div>
        <ul>
            <li class="item"><a href="#">Services</a></li>
            <li class="item"><a href="#">About Us</a></li>
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Contact Us</a></li>
        </ul>
    </nav>
    <section id="home">
        <h3 class="h-primary center">Welcome Foodies</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae, quaerat nobis voluptate neque impedit nam laudantium consequatur eligendi vel veritatis laborum officia fuga cumque illum fugiat minima magni, temporibus facere similique ullam optio atque.</p>
        <button class="btn">Order Now</button>
    </section>
    
    <section class="services-container">
        <h1 class="h-primary center">Our Services</h1>
        <div id="services">
            <div class="box">
                <img src="images/img1.jpg" alt="">
                <h2 class="h-secondary center">Food Ordering</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis ea temporibus incidunt ullam ipsum inventore sequi eligendi, tempore, dignissimos cumque ex quod vel eum omnis eos deserunt amet accusamus.</p>
            </div>
            <div class="box">
                <img src="images/food_del.jpg" alt="">
                <h2 class="h-secondary center">Food Delivery</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis ea temporibus incidunt ullam ipsum inventore sequi eligendi, tempore, dignissimos cumque ex quod vel eum omnis eos deserunt amet accusamus.</p>
            </div>
            <div class="box">
                <img src="images/party_order.jpg" alt="">
                <h2 class="h-secondary center">Party Order</h2>
                <p class="center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore reiciendis ea temporibus incidunt ullam ipsum inventore sequi eligendi, tempore, dignissimos cumque ex quod vel eum omnis eos deserunt amet accusamus.</p>
            </div>
        </div>
    </section>

    <section id="client-section">
        <h1 class="h-primary center">Our Clients</h1>
        <div id="clients">
            <div class="client-item">
                <img src="images/download (3).png" alt="Our Clients">
                <img src="images/download (1).png" alt="Our Clients">
                <img src="images/download (4).png" alt="Our Clients">
                <img src="images/download (5).png" alt="Our Clients">
            </div>
        </div>
    </section>

    <section id="contact">
        <h1 class="h-primary center">Contact Us</h1>
        <div id="contact-box">
            <form action="">
                <div class="form-group">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name" placeholder="Enter your name">
                </div>
                
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input type="email" name="name" id="email" placeholder="Enter your email">
                </div>
                
                <div class="form-group">
                    <label for="phone">Mobile No: </label>
                    <input type="phone" name="name" id="phone" placeholder="Enter your Mobile no. ">
                </div>
                
                <div class="form-group">
                    <label for="message">Message: </label>
                    <textarea name="message" id="message" cols="30" rows="4"></textarea>
                </div>
            </form>
        </div>
    </section>

    <footer>
        <div class="center">
            Copyright &copy; www.Foodies.com. All right reserved.
        </div>
    </footer>

</body>
</html>